@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playwrite+PE:wght@100..400&display=swap');

.App {
  height: 100%;
  width: 100%;
  /* border: 0.2px solid white; */
}

.header {
  height: 70vh;
  width: 100%;
  background-image: url('https://creatorverse-production.up.railway.app/static/media/banner.de5659898d3bfc5eb8ea.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-bottom: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.display-area {
  /* width: 100%; */

  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  /* padding: 50px 150px; */
}

.list-of-blocks-of-creators {
  display: flex;
  /* use flex-wrap here to auto pushing overflowed element to new line */
  flex-wrap: wrap;
  justify-content: center;

  gap: 15px;
}

.creator-frame {
  border: 1px solid white;
  border-radius: 10px;
  width: 40%;
  
  padding: 25px;
  /* Adjust the opacity here */
  /* background-color: rgba(0, 0, 0, 0.5); */
  aspect-ratio: 16/9;
  opacity: 0.77;

}

.creator-frame:hover {
  /* border: 1px dotted dodgerblue;  */
  opacity: 1.25;
}

.creator-card-name {
  /* color: rgb(118, 179, 240); */
  color: dodgerblue;
}

.creator-card-name-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.creator-socialmedia {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

p {
  color: white;
}

/* Details of a creator */
.individual-creator {
  display: flex;
  gap: 5%;
  flex-direction: row;
}

.creator-image {
  width: 30%;
}

.creator-image-size {
  width: 100%;
  border-radius: 20px;
}

.individual-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerTitle {
  font-size: 8em;
  font-family: "Lobster", sans-serif;
  /* line-height: 1.1; */
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}

.social-media-display {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

.social-media-display:hover {
  border: 1px solid white;
  background-color: cyan;
  border-radius: 20px;
  color: black;
  padding-left: 40px;
}

h5 {
  margin: 0;
}

.searchBar {
  /* height: max-content; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 15px;

  margin-bottom: 20px;
}

.search-button {
  border: 1px solid dodgerblue;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
} 

.cancel-search {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-radius: 20px;
  border: 1px solid red;
}

label {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

/* Responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .headerTitle {
    font-size: 50px;
    /* display: none; */
  }

  .display-area {
    padding-left: 20px;
    padding-right: 20px;
  }

  .individual-creator {
    flex-direction: column;
  }

  .creator-image {
    width: 100%;
  }

  .list-of-blocks-of-creators {
    flex-direction: column;
  }

  .creator-frame {
    width: 100%;
  }

  .button-group {
    flex-direction: column;
  }
}