/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.App {
  height: 100%;
  width: 100%;
}

.header {
  height: 70vh;
  width: 100%;
  background: 'https://creatorverse-production.up.railway.app/static/media/banner.de5659898d3bfc5eb8ea.jpg';
}